version: "0.61.2"
type: DeclarativeSource
check:
  type: CheckStream
  stream_names:
    - serp_results
definitions:
  selector:
    type: RecordSelector
    extractor:
      type: DpathExtractor
      field_path: []
streams:
  - type: DeclarativeStream
    name: serp_results
    primary_key:
      - search_query
    retriever:
      type: SimpleRetriever
      requester:
        type: HttpRequester
        url_base: https://api.brightdata.com/
        path: "request"
        http_method: POST
        request_parameters: {}
        request_headers:
          Content-Type: "application/json"
        authenticator:
          type: BearerAuthenticator
          api_token: "{{ config['api_key'] }}"
        error_handler:
          type: CompositeErrorHandler
          error_handlers:
            - type: DefaultErrorHandler
              backoff_strategies:
                - type: ExponentialBackoffStrategy
                  factor: 5.0
        request_body_json:
          zone: "{{ config['zone'] }}"
          url: "https://www.google.com/search?q={{ stream_slice['search_query'].replace(' ', '+') }}"
          format: "{{ config.get('format', 'json') }}"
          method: "GET"
          country: "{{ config.get('country', 'us') }}"
          data_format: "{{ config.get('data_format') }}"
      record_selector:
        type: RecordSelector
        extractor:
          type: DpathExtractor
          field_path: []
      partition_router:
        type: ListPartitionRouter
        values: "{{ config['search_queries'] }}"
        cursor_field: search_query
spec:
  connection_specification:
    $schema: http://json-schema.org/draft-07/schema#
    type: object
    required:
      - api_key
      - zone
      - search_queries
    properties:
      api_key:
        type: string
        title: API Key
        description: Your Bright Data API Key
        airbyte_secret: true
        order: 0
      zone:
        type: string
        title: Zone
        description: Bright Data zone identifier (e.g., serp_api1)
        default: serp_api1
        order: 1
      search_queries:
        type: array
        title: Search Queries
        description: List of search queries to scrape
        items:
          type: string
        order: 2
      country:
        type: string
        title: Country Code
        description: Two-letter ISO country code for proxy location (e.g., us, gb, de)
        default: us
        order: 3
      format:
        type: string
        title: Response Format
        description: Response format
        enum:
          - json
          - raw
        default: json
        order: 4
      data_format:
        type: string
        title: Data Format
        description: Additional response format transformation
        enum:
          - markdown
          - screenshot
        order: 5
  type: Spec
